<!-- Use this CSS stylesheet to ensure that add-ons styling 
     matches the default Google Docs styles -->
<link href="https://ssl.gstatic.com/docs/script/css/add-ons.css"
     rel="stylesheet"> 
 
<!-- The sidebar will have a input box and the search button -->
<div class="sidebar">
    
    <!-- The search box for Google Maps -->
    <div class="block form-group">
        <input type="text" id="Language" placeholder="Select Language" />
    </div>
 </div>

